<!DOCTYPE html>
<html>
<head>
	<title>Dream Maker</title>
	<!-- for-mobile-apps -->
    <link rel = "Shortcut Icon" href="img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/stylesheets/index.css" type="text/css" rel="stylesheet" media="all and (max-width:1389px)" />
	<link type="text/css" id="theme" rel="stylesheet" href="/stylesheets/themes/preview/github.css" media="screen">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
</head>


<body>
	<div class="jumbotron">
		<div id="container">
		<!--header-->
			<div id="head_box">
				<div id="head_wrap">
                    <span id="menu"> <img src="img/icon.png" alt=""/>
					</span>
				    <div id = "head_logo" class = "head_com">
                          LOGO
				    </div>
					<div id="head_nav" class = "head_com1">
						<ul class = "head_nav_list">
	                        <li>
		                        <a class="head_nav_a" href = "index.html">Home</a>
		                        <a class="head_nav_a" href = "index.html">主页</a>
	                        </li>
							<li>
								<a class="head_nav_a" href = "project.html">Cases show</a>
								<a class="head_nav_a" href = "project.html">案例展示</a>
							</li>
							<li>
								<a class="head_nav_a" href = "blog.html">Blog</a>
								<a class="head_nav_a" href = "blog.html">业界博文</a>
							</li>
							<li>
								<a class="head_nav_a" href = "eyereach.html">Eyereach</a>
								<a class="head_nav_a" href = "eyereach.html">Web视界</a>
							</li>
							<li>
								<a class="head_nav_a" href = "team.html">Core team</a>
								<a class="head_nav_a" href = "team.html">核心团队</a>
							</li>
							<li>
								<a class="head_nav_a" href = "per_center.html">Personal Center</a>
								<a class="head_nav_a" href = "per_center.html">个人中心</a>
							</li>
						</ul>
                    </div>
                    <div id = "head_search" class = "head_com">
	                    <div class = "head_search_box">
	                    <a class="head_nav_a" id = "search" href = ""><img src = "img/search16.ico"></a>
	                        <input></input>
	                    </div>
	                </div>
	                <div id = "head_login" class = "head_com">
		                <a  href="login.html">登录</a>
		                <a  href="signup.html">注册</a>
	                </div>
				</div>
			</div>
<!--header-->
        <div id =  "blog_view_name">
            <h1></h1>
        </div>
        <div >
        	<div id="epiceditor-preview">
            <!--Responsive layout E and F-->
                <div class="page_body" id="blog_views_new">
		        </div>
	        </div>
        </div>

        <!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="blog_views_new" data-title="第一篇在线文章" data-url="http://dream-maker-qboooogle-1.c9users.io:8080/blog_view.html"></div>
		<!-- 多说评论框 end -->
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"dreammaker"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0]
				 || document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
			</script>
		<!-- 多说公共JS代码 end -->

        <div>
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
        </div>
		    <span id="busuanzi_container_page_pv">
		  本文总阅读量<span id="busuanzi_value_page_pv"></span>次
		    </span>

	<script type="text/javascript" src='js/lib/jquery.js'></script>
<!--footer-->
	        <div id="foot_box">
				<div id="foot_wrap">
					<div class="foot_bottom bottom_left1">
						<dl>
							<dt>服务</dt>
							<dd>--------</dd>
							<dd>网站指南</dd>
							<dd>支付方式</dd>
							<dd>合作方式</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>售后</dt>
							<dd>--------</dd>
							<dd>售后政策</dd>
							<dd>自助服务</dd>
							<dd>相关下载</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>支持</dt>
                            <dd>--------</dd>
							<dd>APP之家</dd>
							<dd>服务网点</dd>
							<dd>预约服务</dd>
						</dl>
				    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>关注</dt>
                            <dd>--------</dd>
							<dd>新浪微博</dd>
							<dd>网页部落</dd>
							<dd>官方微信</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_main">
						<dl>
							<dt>联系我们</dt>
                            <dd>24小时在线客服：400-100-0000</dd>
							<dd>团队地址：广州市XXXXXXXXXXX</dd>
							<dd>团队邮箱：1234567@gmail.com</dd>
							<dd>团队名片：Dreammaker创业团队</dd>
						</dl>
					</div>
					<div class="foot_bottom bottom_right">
						<div  class = "code">
                             <img src= "img/bottom_QRcode.png"/>
						</div>
						<div  class = "downloadapp">
							<div class = "comh downloadIOS">
							    <div class = "ios">
                                    <img src= "img/cfh_bottom_IphoneICO.png"/>
	                                 IOS
							    </div>
							    <div class = "iosicon">
                                  <img src= "img/cfh_bottom_IphoneICO_2.png"/>
							    </div>
							</div>

							<div class = "comh downloadAnd">
	                            <div class = "and">
                                    <img src= "img/cfh_bottom_AndroidICO.png"/>
                                     安卓
	                             </div>
							    <div class = "andicon">
                                  <img src= "img/cfh_bottom_AndroidICO_1.png"/>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="foot_note_box">
					<div class="foot_note_wrap">
						<div class="foot_note_con">
							<span class="foot_note_txt">
							<a>dreammaker</a><h>|</h><a>友情链接</a><h>|</h><a>商务合作</a><h>|</h><a>广告位招租</a><h>|</h>
						    <a>©dreammaker.com [2016]0000-0000号</a>
						    </span>
						</div>
						<a class="back_top" href="#top">回到顶部↑</a>
					</div>
				</div>
			</div>
<!--footer-->

	<script type="text/javascript" src='/js/lib/jquery.js'></script>
	<script type="text/javascript" src='/js/index.js'></script>
	<script async src="/js/lib/busuanzi.pure.mini.js"></script>
	<script>
		setTimeout(function() {
			$.ajax({
	            type:"POST",
	            url:"/view_blog",
	            data:"d="+new Date(),
	            success: function(data) {
	              if(data) {
	               // alert(data);
	                //$("#blog_view_name h1").replaceWith(data.title)
	                $("#blog_views_new").replaceWith(data.txt);
	                //window.location = "blog_views.html";
	              } else {
	                alert("发布失败！")
	                return false;
	              }
	            }
	          });
		},5);

	</script>
	</body>
</html>
