<!DOCTYPE html>
<html>
<head>
	<title>Dream Maker</title>
	<!-- for-mobile-apps -->
    <link rel = "Shortcut Icon" href="/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/stylesheets/index.css" type="text/css" rel="stylesheet" media="all and (max-width:1389px)" />
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
</head>


<body>
	<div class="jumbotron">
		<div id="container">
		<!--header-->
			<div id="head_box">
				<div id="head_wrap">
                    <span id="menu"> <img src="img/icon.png" alt=""/>
					</span>
				    <div id = "head_logo" class = "head_com">
                          LOGO
				    </div>
					<div id="head_nav" class = "head_com1">
						<ul class = "head_nav_list">
	                        <li>
		                        <a class="head_nav_a" href = "index.html">Home</a>
		                        <a class="head_nav_a" href = "index.html">主页</a>
	                        </li>
							<li>
								<a class="head_nav_a" href = "project.html">Cases show</a>
								<a class="head_nav_a" href = "project.html">案例展示</a>
							</li>
							<li>
								<a class="head_nav_a" href = "blog.html">Blog</a>
								<a class="head_nav_a" href = "blog.html">业界博文</a>
							</li>
							<li>
								<a class="head_nav_a" href = "eyereach.html">Eyereach</a>
								<a class="head_nav_a" href = "eyereach.html">Web视界</a>
							</li>
							<li>
								<a class="head_nav_a" href = "team.html">Core team</a>
								<a class="head_nav_a" href = "team.html">核心团队</a>
							</li>
							<li>
								<a class="head_nav_a" href = "per_center.html">Personal Center</a>
								<a class="head_nav_a" href = "per_center.html">个人中心</a>
							</li>
						</ul>
                    </div>
                    <div id = "head_search" class = "head_com">
	                    <div class = "head_search_box">
	                    <a class="head_nav_a" id = "search" href = ""><img src = "img/search16.ico"></a>
	                        <input></input>
	                    </div>
	                </div>
	                <div id = "head_login" class = "head_com">
		                <a  href="login.html">登录</a>
		                <a  href="signup.html">注册</a>
	                </div>
				</div>
			</div>
<!--header-->

<!-- the body of main page -->



            <!--Responsive layout E and F-->
            <div class="page_body" id="blog_block0">
                <div class = "blog_title">
                	<div>
                     <h2>技术博客</h2>
                     <p>最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客
                     </p>
                     <a id = "xxx" href="writeblog.html">发布博客</a>
                	</div>
                </div>
		    </div>

            <!--Responsive layout E and F-->
            <div class="page_body" id="blog_block1">
            <div id = "blog_change">
            <div id = "blog_change_txt99" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章99</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt98" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章98</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt97" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章97</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt96" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章96</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt95" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章95</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt94" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章94</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt93" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章93</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt92" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章92</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt91" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章91</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt90" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章90</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt89" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章89</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt88" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章88</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt87" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章87</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt86" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章86</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt85" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章85</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt84" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章84</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt83" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章83</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt82" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章82</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt81" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章81</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt80" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章80</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt79" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章79</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt78" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章78</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt77" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章77</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt76" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章78</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt75" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章75</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt74" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章74</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt73" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章73</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt72" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章72</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt71" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章71</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt70" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章70</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt69" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章69</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt68" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章68</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt67" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章67</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt66" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章66</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt65" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章65</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt64" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章64</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt63" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章63</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt62" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章62</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt61" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章61</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt60" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章60</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt59" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章59</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt58" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章58</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt57" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章57</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt56" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章56</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt55" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章55</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt54" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章54</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt53" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章53</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt52" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章52</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt51" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章51</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt50" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章50</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt49" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章49</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt48" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章48</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt47" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章47</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt46" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章46</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt45" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章45</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt44" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章44</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt43" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章43</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt42" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章42</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt41" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章41</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt40" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章40</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt39" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章39</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt38" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章38</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt37" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章37</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内4内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt36" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章36</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt35" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章35</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt34" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章34</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt33" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章33</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt32" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章32</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt31" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章31</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt30" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章30</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt29" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章29</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt28" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章28</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt27" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章27</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt26" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章26</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt25" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章25</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt24" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章24</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt23" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章23</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt22" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章22</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt21" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章21</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt20" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章20</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt19" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章19</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt18" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章18</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt17" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章17</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt16" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章16</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt15" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章15</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt14" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章14</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt13" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章13</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt12" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章12</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt11" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章11</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt10" class = "block_p1" >
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章10</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt9" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章9</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt8" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章8</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt7" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章7</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容----------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt6" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章6</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt5" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章5</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt4" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章4</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt3" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章3</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容-------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt2" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章2</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容---------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
                <div id = "blog_change_txt1" class = "block_p1">
                    <div class = "per_com per_detail">
                        <a href="#"><h3>文章1</h3></a>
                        <p>小标题</p>
                        <p>作者：发表日期</p>
                        <p>内容内容内容内容--------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
            </div>
		    </div>

            <div class="page_body" id="blog_block3">
                &lt;
			    <span id = "blog_nav">
	            	<a>1</a>
	            	<a>2</a>
	            	<a>3</a>
	            	<a>4</a>
	            	<a>5</a>
	            	<a>6</a>
	            	<a>7</a>
	            	<a>8</a>
	            	<a>9</a>
	            </span>
	            &gt;
	        </div>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="blog_block1" data-title="博客" data-url="http://dream-maker-qboooogle-1.c9users.io:8080/blog_view.html"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"dreammaker"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
            </script>
        <!-- 多说公共JS代码 end -->

        <div>
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
            <span id="busuanzi_container_page_pv">
          博客总阅读量<span id="busuanzi_value_page_pv"></span>次
            </span>
        </div>

<!--footer-->
	        <div id="foot_box">
				<div id="foot_wrap">
					<div class="foot_bottom bottom_left1">
						<dl>
							<dt>服务</dt>
							<dd>--------</dd>
							<dd>网站指南</dd>
							<dd>支付方式</dd>
							<dd>合作方式</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>售后</dt>
							<dd>--------</dd>
							<dd>售后政策</dd>
							<dd>自助服务</dd>
							<dd>相关下载</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>支持</dt>
                            <dd>--------</dd>
							<dd>APP之家</dd>
							<dd>服务网点</dd>
							<dd>预约服务</dd>
						</dl>
				    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>关注</dt>
                            <dd>--------</dd>
							<dd>新浪微博</dd>
							<dd>网页部落</dd>
							<dd>官方微信</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_main">
						<dl>
							<dt>联系我们</dt>
                            <dd>24小时在线客服：400-100-0000</dd>
							<dd>团队地址：广州市XXXXXXXXXXX</dd>
							<dd>团队邮箱：1234567@gmail.com</dd>
							<dd>团队名片：Dreammaker创业团队</dd>
						</dl>
					</div>
					<div class="foot_bottom bottom_right">
						<div  class = "code">
                             <img src= "img/bottom_QRcode.png"/>
						</div>
						<div  class = "downloadapp">
							<div class = "comh downloadIOS">
							    <div class = "ios">
                                    <img src= "img/cfh_bottom_IphoneICO.png"/>
	                                 IOS
							    </div>
							    <div class = "iosicon">
                                  <img src= "img/cfh_bottom_IphoneICO_2.png"/>
							    </div>
							</div>

							<div class = "comh downloadAnd">
	                            <div class = "and">
                                    <img src= "img/cfh_bottom_AndroidICO.png"/>
                                     安卓
	                             </div>
							    <div class = "andicon">
                                  <img src= "img/cfh_bottom_AndroidICO_1.png"/>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="foot_note_box">
					<div class="foot_note_wrap">
						<div class="foot_note_con">
							<span class="foot_note_txt">
							<a>dreammaker</a><h>|</h><a>友情链接</a><h>|</h><a>商务合作</a><h>|</h><a>广告位招租</a><h>|</h>
						    <a>©dreammaker.com [2016]0000-0000号</a>
						    </span>
						</div>
						<a class="back_top" href="#top">回到顶部↑</a>
					</div>
				</div>
			</div>
<!--footer-->

	<script type="text/javascript" src='/js/lib/jquery.js'></script>
    <script type="text/javascript" src='/js/index.js'></script>
    <script async src="/js/lib/busuanzi.pure.mini.js"></script>
	<script>
		setTimeout(function() {
		     $.ajax({
		    		type:"POST",
		    		url:"/upload_blog",
		    		data:"d="+new Date(),
		    		success: function(data) {
		    			if(data) {
		    				$('#blog_change_txt1').find('h3').html(data.title);
		    				$('#blog_change_txt1').children('div').children('p').eq(1).html(data.txt);
		    			} else {
		    				alert("发布失败！")
		    				return false;
		    			}
		    		}
		    	});
		},0.05);
		$.each($("#blog_change>div"), function() {
			$(this).click(function() {
				//alert($(this).attr('id'));
				var txtid = $(this).attr('id');
				$.ajax({
		    		type:"POST",
		    		url:"/click_blog",
		    		data:"d="+new Date()+ "&txtid=" + txtid,
		    		success: function(data) {
		    			if(data) {
		    				//get title name data
		    				//data.title, data.name, tata.date;
		    				//
		    			} else {
		    				alert("发布失败！")
		    				return false;
		    			}
		    		}
		    	});
				window.location = "blog_views.html";
			});
		});
	</script>
	</body>
</html>