<!DOCTYPE html>
<html>
<head>
	<title>Dream Maker</title>
	<!-- for-mobile-apps -->
    <link rel = "Shortcut Icon" href="img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/stylesheets/index.css" type="text/css" rel="stylesheet" media="all and (max-width:1389px)" />
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=yes;">
</head>


<body>
	<div class="jumbotron">
		<div id="container">
		<!--header-->
			<div id="head_box">
				<div id="head_wrap">
                    <span id="menu"> <img src="img/icon.png" alt=""/>
					</span>
				    <div id = "head_logo" class = "head_com">
                          LOGO
				    </div>
					<div id="head_nav" class = "head_com1">
						<ul class = "head_nav_list">
	                        <li>
		                        <a class="head_nav_a" href = "index.html">Home</a>
		                        <a class="head_nav_a" href = "index.html">主页</a>
	                        </li>
							<li>
								<a class="head_nav_a" href = "project.html">Cases show</a>
								<a class="head_nav_a" href = "project.html">案例展示</a>
							</li>
							<li>
								<a class="head_nav_a" href = "blog.html">Blog</a>
								<a class="head_nav_a" href = "blog.html">业界博文</a>
							</li>
							<li>
								<a class="head_nav_a" href = "eyereach.html">Eyereach</a>
								<a class="head_nav_a" href = "eyereach.html">Web视界</a>
							</li>
							<li>
								<a class="head_nav_a" href = "team.html">Core team</a>
								<a class="head_nav_a" href = "team.html">核心团队</a>
							</li>
							<li>
								<a class="head_nav_a" href = "per_center.html">Personal Center</a>
								<a class="head_nav_a" href = "per_center.html">个人中心</a>
							</li>
						</ul>
                    </div>
                    <div id = "head_search" class = "head_com">
	                    <div class = "head_search_box">
	                    <a class="head_nav_a" id = "search" href = ""><img src = "img/search16.ico"></a>
	                        <input></input>
	                    </div>
	                </div>
	                <div id = "head_login" class = "head_com">
		                <a href="login.html">登录</a>
		                <a href="signup.html">注册</a>
	                </div>
				</div>
			</div>
<!--header-->


<!-- the body of main page -->
           <!--Responsive layout A and B-->
		    <div class="page_body" id="Community_bf">
		        <section>
		        <!--Responsive layout E and F-->
		            <div class="page_body" id="Community_block_left">
		                <div class = "left_title">
		                	<div>
		                     <h3>专注web前端开发,是以技术交流、经验分享、资源共享、共同超越为宗旨。</h3>
		                	</div>
		                </div>
		                <div class = "left_view">
		                	<ul id="sdt_menu" class="sdt_menu">
								<li>
									<a href="#">
										<img src="img/web_nav2.jpg" alt=""/>
										<span class="sdt_active"></span>
										<span class="sdt_wrap">
											<span class="sdt_link">About</span>
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/web_nav1.jpg" alt=""/>
										<span class="sdt_active"></span>
										<span class="sdt_wrap">
											<span class="sdt_link">Portf</span>
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/web_nav3.jpg" alt=""/>
										<span class="sdt_active"></span>
										<span class="sdt_wrap">
											<span class="sdt_link">Inspi</span>
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/web_nav4.jpg" alt=""/>
										<span class="sdt_active"></span>
										<span class="sdt_wrap">
											<span class="sdt_link">Photo</span>
										</span>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="img/web_nav5.jpg" alt=""/>
										<span class="sdt_active"></span>
										<span class="sdt_wrap">
											<span class="sdt_link">Blog</span>
										</span>
									</a>
								</li>
							</ul>
		                </div>
				    </div>

		            <!--Responsive layout E and F-->
		            <div class="page_body" id="Community_web_blog">
		                <div class = "web_blog">
			                <div class = "web_ico">
	                            <img src="img/web_ico1.jpg" alt=""width = "160px" height = "160px">
			                </div>
			                <div class = "web_reach">
	                             <h2>大标题</h2>
	                             <i>来源：<a href="www.google.com">谷歌俱乐部</a>	作者：<a href = "#">XX</a></i>
	                             <p>随着移动互联网的发展，我们越发要关注移动页面的性能优化，今天跟大家谈谈这方面的事情随着移动互联网的发展</p>
	                             <h6>浏览：0次/评论：0条</h6>
			                </div>
		                </div>
				        <div class = "web_blog">
			                <div class = "web_ico">
	                            <img src="img/web_ico1.jpg" alt=""width = "160px" height = "160px">
			                </div>
			                <div class = "web_reach">
	                             <h2>大标题</h2>
	                             <i>来源：<a href="www.google.com">谷歌俱乐部</a>	作者：<a href = "#">XX</a></i>
	                             <p>随着移动互联网的发展，我们越发要关注移动页面的性能优化，今天跟大家谈谈这方面的事情随着移动互联网的发展</p>
	                             <h6>浏览：0次/评论：0条</h6>
			                </div>
		                </div>
		                <div class = "web_blog">
			                <div class = "web_ico">
	                            <img src="img/web_ico1.jpg" alt=""width = "160px" height = "160px">
			                </div>
			                <div class = "web_reach">
	                             <h2>大标题</h2>
	                             <i>来源：<a href="www.google.com">谷歌俱乐部</a>	作者：<a href = "#">XX</a></i>
	                             <p>随着移动互联网的发展，我们越发要关注移动页面的性能优化，今天跟大家谈谈这方面的事情随着移动互联网的发展</p>
	                             <h6>浏览：0次/评论：0条</h6>
			                </div>
		                </div>
		                <div class = "web_blog">
			                <div class = "web_ico">
	                            <img src="img/web_ico1.jpg" alt=""width = "160px" height = "160px">
			                </div>
			                <div class = "web_reach">
	                             <h2>大标题</h2>
	                             <i>来源：<a href="www.google.com">谷歌俱乐部</a>	作者：<a href = "#">XX</a></i>
	                             <p>随着移动互联网的发展，我们越发要关注移动页面的性能优化，今天跟大家谈谈这方面的事情随着移动互联网的发展</p>
	                             <h6>浏览：0次/评论：0条</h6>
			                </div>
		                </div>
		                <div class = "web_blog">
			                <div class = "web_ico">
	                            <img src="img/web_ico1.jpg" alt=""width = "160px" height = "160px">
			                </div>
			                <div class = "web_reach">
	                             <h2>大标题</h2>
	                             <i>来源：<a href="www.google.com">谷歌俱乐部</a>	作者：<a href = "#">XX</a></i>
	                             <p>随着移动互联网的发展，我们越发要关注移动页面的性能优化，今天跟大家谈谈这方面的事情随着移动互联网的发展</p>
	                             <h6>浏览：0次/评论：0条</h6>
			                </div>
		                </div>
				    </div>

		        </section>
		        <aside>
			        <div class="page_body" id="Community_block_right">
		                <div class = "block_p1 news">
							<div class = "new_title">
                                <h1>》前端快报</h1>
                                <i>最新更新</i>
							</div>
							<div class = "new_items">
                                    <ul>
                                    	<li><i>07-21</i>&nbsp&nbsp<a href="#">最新框架</a></li>
                                    	<li><i>07-21</i>&nbsp&nbsp<a href="#">最新框架Bootstrap</a></li>
                                    	<li><i>07-21</i>&nbsp&nbsp<a href="#">最新框架Nodejs</a></li>
                                    	<li><i>07-21</i>&nbsp&nbsp<a href="#">最新框架</a></li>
                                    	<li><i>07-21</i>&nbsp&nbsp<a href="#">最新框架</a></li>
                                    </ul>
							</div>
		                </div>
		                <div class = "block_p1 tools">
							<div class = "tool_title">
                                <h1>》工具库</h1>
                                <a href = "#">--更多--</a>
							</div>
							<div class = "tool_items">
                                    <ul>
                                    	<li><i>代码辅助</i><a href = "http://www1.w3cfuns.com/tools.php?mod=regex">正则调试</a><a href = "http://www1.w3cfuns.com/tools.php?mod=compression">JS/CSS压缩</a><a href="http://www1.w3cfuns.com/tools.php?mod=json">JSON格式化</a>
                                    	</li>
                                    	<li><i>对照表</i><a href="redirect.php?mod=tools&id=49da85ffa9a6a1e5fce42c22246f6b67" target="_blank">HTTP状态码</a>
										<a href="redirect.php?mod=tools&id=58307b356eb23cacb736ed5d155182c4" target="_blank">HTML5/CSS3支持情况</a>
                                    	</li>
                                    	<li><i>字体图标</i><a href="redirect.php?mod=tools&id=f4575f382d92bdf74f3ce469909a693f" target="_blank">Icomoon</a>
										<a href="redirect.php?mod=tools&id=cd9c28e5814a4c298019d86d36d23779" target="_blank">FontAwesome</a>
										<a href="redirect.php?mod=tools&id=d681e45a285fd86780d799749cf61b10" target="_blank">阿里矢量图标库</a>
                                    	</li>
                                    	<li><i>API手册</i><a href="redirect.php?mod=tools&id=15ccf82830ea47f7d36c993f36e4674d" target="_blank">HTML5</a>
										<a href="redirect.php?mod=tools&id=db1bfb3351dd6f82e37040533241afc6" target="_blank">CSS3</a>
										<a href="redirect.php?mod=tools&id=557b528dc9b337d4a238d47ba6bd58b5" target="_blank">JavaScript</a>
										<a href="redirect.php?mod=tools&id=aaa15dedcf08e783452b39b76efd9eb4" target="_blank">jQuery</a>
                                    	</li>
                                    	<li><i>静态CDN</i><a href="redirect.php?mod=tools&id=986f6e6a0025cd176eb9bded79e93420" target="_blank">百度静态</a>
										<a href="redirect.php?mod=tools&id=f859b74d228e0164cbd27cd311c91d2d" target="_blank">BootCDN</a>
										<a href="redirect.php?mod=tools&id=dc674efa6325e3aa653a502744b21e97" target="_blank">360CDN</a>
                                    	</li>
                                    </ul>
							</div>
		                </div>
						<div class = "block_p1 collects">
							<div class = "collect_title">
                                <h1>》收藏</h1>
							</div>
							<div class = "collect_items">
                                    <ul>
                                    	<li><i>-1-</i>&nbsp&nbsp<a href="http://www.w3ctech.com/topic/1483">《你不知道的 CSS》之等比例缩放的盒子</a></li>
                                    	<li><i>-2-</i>&nbsp&nbsp<a href="https://github.com/foru17/front-end-collect">分享自己长期关注的前端开发相关的优秀网站、博客、以及活跃开发者</a></li>
                                    	<li><i>-3-</i>&nbsp&nbsp<a href="https://github.com/JacksonTian/fks">前端技能汇总</a></li>
                                    </ul>
                                    <ul class = "no_keep">
                                    	<li><i>-4-</i>&nbsp&nbsp<a href="#">最新框架Nodejs</a></li>
                                    	<li><i>-5-</i>&nbsp&nbsp<a href="http://www.w3ctech.com/topic/256">jQuery源码剖析（一）——概览&工具方法</a></li>
                                    	<li><i>-6-</i>&nbsp&nbsp<a href="http://www.w3cfuns.com/notes/29187/dcba9ae4dc8df4b18ab3cf76458e6728.html">一个初级的前端工程师需要知道些什么？</a></li>
                                    </ul>
							</div>
		                </div>
		                <div class = "block_p1 collects">
							<div class = "collect_title">
                                <h1>》收藏</h1>
							</div>
							<div class = "collect_items">
                                    <ul>
                                    	<li><i>-1-</i>&nbsp&nbsp<a href="http://www.w3ctech.com/topic/1483">《你不知道的 CSS》之等比例缩放的盒子</a></li>
                                    	<li><i>-2-</i>&nbsp&nbsp<a href="https://github.com/foru17/front-end-collect">分享自己长期关注的前端开发相关的优秀网站、博客、以及活跃开发者</a></li>
                                    	<li><i>-3-</i>&nbsp&nbsp<a href="https://github.com/JacksonTian/fks">前端技能汇总</a></li>
                                    </ul>
                                    <ul class = "no_keep">
                                    	<li><i>-4-</i>&nbsp&nbsp<a href="#">最新框架Nodejs</a></li>
                                    	<li><i>-5-</i>&nbsp&nbsp<a href="http://www.w3ctech.com/topic/256">jQuery源码剖析（一）——概览&工具方法</a></li>
                                    	<li><i>-6-</i>&nbsp&nbsp<a href="http://www.w3cfuns.com/notes/29187/dcba9ae4dc8df4b18ab3cf76458e6728.html">一个初级的前端工程师需要知道些什么？</a></li>
                                    </ul>
							</div>
		                </div>
		                <div class = "block_p1 collects">
							<div class = "collect_title">
                                <h1>》收藏</h1>
							</div>
							<div class = "collect_items">
                                    <ul>
                                    	<li><i>-1-</i>&nbsp&nbsp<a href="http://www.w3ctech.com/topic/1483">《你不知道的 CSS》之等比例缩放的盒子</a></li>
                                    	<li><i>-2-</i>&nbsp&nbsp<a href="https://github.com/foru17/front-end-collect">分享自己长期关注的前端开发相关的优秀网站、博客、以及活跃开发者</a></li>
                                    	<li><i>-3-</i>&nbsp&nbsp<a href="https://github.com/JacksonTian/fks">前端技能汇总</a></li>
                                    </ul>
                                    <ul class = "no_keep">
                                    	<li><i>-4-</i>&nbsp&nbsp<a href="#">最新框架Nodejs</a></li>
                                    	<li><i>-5-</i>&nbsp&nbsp<a href="http://www.w3ctech.com/topic/256">jQuery源码剖析（一）——概览&工具方法</a></li>
                                    	<li><i>-6-</i>&nbsp&nbsp<a href="http://www.w3cfuns.com/notes/29187/dcba9ae4dc8df4b18ab3cf76458e6728.html">一个初级的前端工程师需要知道些什么？</a></li>
                                    </ul>
							</div>
		                </div>
			        </div>
		        </aside>
		    </div>
<!-- the body of main page -->


        <div>
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
            <span id="busuanzi_container_page_pv">
          社区被浏览：<span id="busuanzi_value_page_pv"></span>次
            </span>
        </div>

<!--footer-->
	        <div id="foot_box">
				<div id="foot_wrap">
					<div class="foot_bottom bottom_left1">
						<dl>
							<dt>服务</dt>
							<dd>--------</dd>
							<dd>网站指南</dd>
							<dd>支付方式</dd>
							<dd>合作方式</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>售后</dt>
							<dd>--------</dd>
							<dd>售后政策</dd>
							<dd>自助服务</dd>
							<dd>相关下载</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>支持</dt>
                            <dd>--------</dd>
							<dd>APP之家</dd>
							<dd>服务网点</dd>
							<dd>预约服务</dd>
						</dl>
				    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>关注</dt>
                            <dd>--------</dd>
							<dd>新浪微博</dd>
							<dd>网页部落</dd>
							<dd>官方微信</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_main">
						<dl>
							<dt>联系我们</dt>
                            <dd>24小时在线客服：400-100-0000</dd>
							<dd>团队地址：广州市XXXXXXXXXXX</dd>
							<dd>团队邮箱：1234567@gmail.com</dd>
							<dd>团队名片：Dreammaker创业团队</dd>
						</dl>
					</div>
					<div class="foot_bottom bottom_right">
						<div  class = "code">
                             <img src= "img/bottom_QRcode.png"/>
						</div>
						<div  class = "downloadapp">
							<div class = "comh downloadIOS">
							    <div class = "ios">
                                    <img src= "img/cfh_bottom_IphoneICO.png"/>
	                                 IOS
							    </div>
							    <div class = "iosicon">
                                  <img src= "img/cfh_bottom_IphoneICO_2.png"/>
							    </div>
							</div>

							<div class = "comh downloadAnd">
	                            <div class = "and">
                                    <img src= "img/cfh_bottom_AndroidICO.png"/>
                                     安卓
	                             </div>
							    <div class = "andicon">
                                  <img src= "img/cfh_bottom_AndroidICO_1.png"/>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="foot_note_box">
					<div class="foot_note_wrap">
						<div class="foot_note_con">
							<span class="foot_note_txt">
							<a>dreammaker</a><h>|</h><a>友情链接</a><h>|</h><a>商务合作</a><h>|</h><a>广告位招租</a><h>|</h>
						    <a>©dreammaker.com [2016]0000-0000号</a>
						    </span>
						</div>
						<a class="back_top" href="#top">回到顶部↑</a>
					</div>
				</div>
			</div>
<!--footer-->
</div>
</div>

	<script type="text/javascript" src='/js/lib/jquery.js'></script>
    <script type="text/javascript" src="/js/lib/jquery.easing.1.3.js"></script>
    <script async src="/js/lib/busuanzi.pure.mini.js"></script>
	<script type="text/javascript" src='/js/index.js'></script>
	</body>
</html>