<!DOCTYPE html>
<html>
<head>
	<title>Dream Maker</title>
	<!-- for-mobile-apps -->
    <link rel = "Shortcut Icon" href="/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/stylesheets/index.css" type="text/css" rel="stylesheet" media="all and (max-width:1389px)" />
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
</head>


<body>
	<div class="jumbotron">
		<div id="container">
		<!--header-->
			<div id="head_box">
				<div id="head_wrap">
                    <span id="menu"> <img src="img/icon.png" alt=""/>
					</span>
				    <div id = "head_logo" class = "head_com">
                          LOGO
				    </div>
					<div id="head_nav" class = "head_com1">
						<ul class = "head_nav_list">
	                        <li>
		                        <a class="head_nav_a" href = "index.html">Home</a>
		                        <a class="head_nav_a" href = "index.html">主页</a>
	                        </li>
							<li>
								<a class="head_nav_a" href = "project.html">Cases show</a>
								<a class="head_nav_a" href = "project.html">案例展示</a>
							</li>
							<li>
								<a class="head_nav_a" href = "blog.html">Blog</a>
								<a class="head_nav_a" href = "blog.html">业界博文</a>
							</li>
							<li>
								<a class="head_nav_a" href = "eyereach.html">Eyereach</a>
								<a class="head_nav_a" href = "eyereach.html">Web视界</a>
							</li>
							<li>
								<a class="head_nav_a" href = "team.html">Core team</a>
								<a class="head_nav_a" href = "team.html">核心团队</a>
							</li>
							<li>
								<a class="head_nav_a" href = "per_center.html">Personal Center</a>
								<a class="head_nav_a" href = "per_center.html">个人中心</a>
							</li>
						</ul>
                    </div>
                    <div id = "head_search" class = "head_com">
	                    <div class = "head_search_box">
	                    <a class="head_nav_a" id = "search" href = ""><img src = "img/search16.ico"></a>
	                        <input></input>
	                    </div>
	                </div>
	                <div id = "head_login" class = "head_com">
		                <a  href="login.html">登录</a>
		                <a  href="signup.html">注册</a>
	                </div>
				</div>
			</div>
<!--header-->

<!-- the body of main page -->
		    <!--Responsive layout C and D-->
 			<div class="page_body" id="body_block0">
	            <div id="slider">
	                <ul class = "slider_img">
				        <li><a target="_blank" href="#"><img src="img/slider_index1.jpg" /></a></li>
				        <li><a target="_blank" href="#"><img src="img/slider_index2.jpg"/></a></li>
				        <li><a target="_blank" href="#"><img src="img/slider_index3.jpg"/></a></li>
				        <li><a target="_blank" href="#"><img src="img/slider_index.jpg"/></a></li>
	                </ul>
	                <div class = "slider_num">
	                    <ul >
					        <li></li>
					        <li></li>
					        <li></li>
					        <li></li>
					    </ul>
	                </div>

				    <div class = "slider_btn_all">
				    	<span class = "slider_btn slider_btn_left">
				    		&lt
				    	</span>
				    	<span class = "slider_btn slider_btn_right">
				    		&gt
				    	</span>
				    </div>
				</div>
            </div>
            <!--Responsive layout E and F-->
            <div class="page_body" id="body_block2">
                <div class = "block_p">
                	 <h1>无额外收费,你需要的一切都包含。<br/>下面所有的功能都是免费的。</h1>
                </div>
		    </div>

             <!--Responsive layout E and F-->
            <div class="page_body" id="body_block3">

                <div class = "block_p3">
                	<h2>HTML/CSS</h2>
		            <h4>我们标准PSD为HTML套餐包括：</h4>
		            <ul>
		            	<li>Retina显示屏支持</li>
		            	<li>自定义字体的使用</li>
		            	<li>注释标记</li>
		            	<li>使用框架 (Bootstrap, Foundation)</li>
		            	<li>小幅视差效果</li>
		            	<li>服务器端嵌入（根据要求）</li>
		            	<li>移动设备的兼容性 (根据要求)</li>
		            	<li>... 并且甚至更多</li>
		            </ul>
                </div>
		        <div class = "block_p3">
			        <h2>JavaScript / jQuery</h3>
		            <h4>此外，我们可以为您做的：</h4>
		            <ul>
		            	<li>轮播/图片画廊</li>
		            	<li>Lightbox</li>
		            	<li>手风琴</li>
		            	<li>选项卡</li>
		            	<li>表单验证 (根据要求)</li>
		            	<li>表单元素美化</li>
		            	<li>滚动条美化</li>
		            	<li>... 并且甚至更多</li>
	            	</ul>
                </div>
		    </div>
            <!--Responsive layout E and F-->
            <div class="page_body" id="body_block2">
                <div class = "block_p">
                	<h1>Welcome to cooperate with us!</h1>
                </div>
		    </div>
            <!--Responsive layout E and F-->
            <div class="page_body" id="body_block_work">
                <div class = "block_p_title div0">
                	<h1>我们的服务流程</h1>
                </div>
                <div class = "block_p1 div1">
                	<img src="http://www.qietu.com/wp-content/themes/qietu2016/imgs/step1.png"/>
		         	<h4>上传文件</h4>
		         	<p>我们接受PSD, PNG, AI, INDD, JPG, PDF 和草绘格式，和支付定金。</p>
                </div>
		        <div class = "block_p1 div2">
					<img src="http://www.qietu.com/wp-content/themes/qietu2016/imgs/step2.png"/>
		         	<h4>我们切图</h4>
		         	<p>我们切图并用标准的代码把设计图编码, 像素完美，并且兼容浏览器 HTML5 / CSS3.</p>

                </div>
                <div class = "block_p1 div3">
					<img src="http://www.qietu.com/wp-content/themes/qietu2016/imgs/step3.png"/>
		         	<h4>结果</h4>
		         	<p>我们上传你的模板到有密码保护的服务器并发送给您预览链接。</p>
                </div>
                <div class = "block_p1 div4">
 					<img src="http://www.qietu.com/wp-content/themes/qietu2016/imgs/step4.png"/>
		         	<h4>交货</h4>
		         	<p>您支付模板的尾款费用然后我们提供源文件。全完满意再付款！</p>

                </div>
                <div class = "block_p1 div5">
					<img src="http://www.qietu.com/wp-content/themes/qietu2016/imgs/step5.png"/>
		         	<h4>下一个项目</h4>
		         	<p>我们期待着与您的再次合作！再见！</p>
                </div>
                <div class = "div7">
                	<h1>我们保护您的隐私！</h1>
                </div>
                <div class = "div8">
                	<h2>--欢迎联系我们--</h2>
                </div>
		    </div>

		     <div class="page_body" id="body_block2">
                <div class = "block_p">
                	<h1>We use the most popular technology.</h1>
                </div>
		    </div>


            <!--Responsive layout E and F-->
            <div class="page_body" id="body_block2">
                <div class = "block_p">
                	<h2>响应式框架</h1>
                </div>
		    </div>

            <!--Responsive layout E and F-->
            <div class="page_body" id="body_block_server">
                <div class = "block_server_p div0">
                        <p>
                           Dreammaker自主开发的css响应式框架，我们对w3c标准有一定的研究。
                        </p>
                         <p>
							使用了最精简的代码、最合理的布局、最规范的样式，来保证最好的兼容性，目前可兼容 ie6,ie7,ie8,firefox,chrome浏览器以及iphone,ipad等移动设备。
                         </p>
                </div>
		    </div>

<!-- the body of main page -->

        <div>
        	<span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
        </div>

<!--footer-->
	        <div id="foot_box">
				<div id="foot_wrap">
					<div class="foot_bottom bottom_left1">
						<dl>
							<dt>服务</dt>
							<dd>--------</dd>
							<dd>网站指南</dd>
							<dd>支付方式</dd>
							<dd>合作方式</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>售后</dt>
							<dd>--------</dd>
							<dd>售后政策</dd>
							<dd>自助服务</dd>
							<dd>相关下载</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>支持</dt>
                            <dd>--------</dd>
							<dd>APP之家</dd>
							<dd>服务网点</dd>
							<dd>预约服务</dd>
						</dl>
				    </div>
                    <div class="foot_bottom bottom_left">
						<dl>
							<dt>关注</dt>
                            <dd>--------</dd>
							<dd>新浪微博</dd>
							<dd>网页部落</dd>
							<dd>官方微信</dd>
						</dl>
                    </div>
                    <div class="foot_bottom bottom_main">
						<dl>
							<dt>联系我们</dt>
                            <dd>24小时在线客服：400-100-0000</dd>
							<dd>团队地址：广州市XXXXXXXXXXX</dd>
							<dd>团队邮箱：1234567@gmail.com</dd>
							<dd>团队名片：Dreammaker创业团队</dd>
						</dl>
					</div>
					<div class="foot_bottom bottom_right">
						<div  class = "code">
                             <img src= "img/bottom_QRcode.png"/>
						</div>
						<div  class = "downloadapp">
							<div class = "comh downloadIOS">
							    <div class = "ios">
                                    <img src= "img/cfh_bottom_IphoneICO.png"/>
	                                 IOS
							    </div>
							    <div class = "iosicon">
                                  <img src= "img/cfh_bottom_IphoneICO_2.png"/>
							    </div>
							</div>

							<div class = "comh downloadAnd">
	                            <div class = "and">
                                    <img src= "img/cfh_bottom_AndroidICO.png"/>
                                     安卓
	                             </div>
							    <div class = "andicon">
                                  <img src= "img/cfh_bottom_AndroidICO_1.png"/>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="foot_note_box">
					<div class="foot_note_wrap">
						<div class="foot_note_con">
							<span class="foot_note_txt">
							<a>dreammaker</a><h>|</h><a>友情链接</a><h>|</h><a>商务合作</a><h>|</h><a>广告位招租</a><h>|</h>
						    <a>©dreammaker.com [2016]0000-0000号</a>
						    </span>
						</div>
						<a class="back_top" href="#top">回到顶部↑</a>
					</div>
				</div>
			</div>
<!--footer-->

	<script type="text/javascript" src='/js/lib/jquery.js'></script>
	<script type="text/javascript" src='/js/index.js'></script>
	<script async src="/js/lib/busuanzi.pure.mini.js"></script>
	</body>
</html>