doctype html
html
  head
    title Dream Maker
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    meta(charset='utf-8')
  body
    div.jumbotron
      div.container
        h1 Dream Maker
        p A passionate team of sophomores
        p
          a.btn.btn-primary.btn-lg(role="button") learn more

  script(src='js/lib/jquery.js')
  script(src='js/lib/bootstrap.js')
